<footer class="grid-wrapper">
    <div class="grid-container">
        <div class="footer-content">
            <p>RestaurantSnackTracker</p>
            <p>© Jakob Becker 2022</p>
        </div>
    </div>
</footer>