<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestaurantSnackTracker</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
{% include "navbar.jinja" %}
<div class="grid-wrapper">
    <div class="grid-container">

        <h1>Willkommen beim RestaurantSnackTracker</h1>
        <div class="button-panel full-width">
            <a  class="button-small" href="/visits">
                Alle Restaurantbesuche sehen
            </a>
            <a  class="button-small" href="/restaurants">
                Alle Restaurants sehen
            </a>

            <a  class="button-small" href="/visit/new">
                Neuen Restaurantbesuch hinzufügen
            </a>
            <a  class="button-small" href="/restaurant/new">
                Neues Restaurant hinzufügen
            </a>
        </div>
        <div class="ranking ranking-visited">
            <h2>Zuletzt besucht</h2>
                {% for rank in visits_ranking %}
                    <span class="rank-wrapper">
                        <h4>{{rank[1].restaurant.name}}</h4>
                        <p class="small-paragraph">am {{rank[0]}}</p>
                        <p class="standard-paragraph">
                        <span class="bold-text">Essen:</span>
                        <span class="star-ratings">
                            {% for x in range(5)%}
                                {% if x < rank[1].ratings.food %}
                            <img src="{{ url_for('static', filename='star-fill.svg') }}" class="star-full">
                                {% endif%}
                                {% if x >= rank[1].ratings.food %}
                            <img src="{{ url_for('static', filename='star-empty.svg') }}" class="star-empty">
                                {% endif %}
                            {%endfor%}
                        </span>
                        </p>
                        <p class="small-paragraph">
                        <span class="bold-text">Service:</span>
                        <span class="star-ratings">
                            {% for x in range(5)%}
                                {% if x < rank[1].ratings.service %}
                            <img src="{{ url_for('static', filename='star-fill.svg') }}" class="star-full">
                                {% endif%}
                                {% if x >= rank[1].ratings.service %}
                            <img src="{{ url_for('static', filename='star-empty.svg') }}" class="star-empty">
                                {% endif %}
                            {%endfor%}
                        </span>
                    </p>
                    <p class="small-paragraph">
                        <span class="bold-text">Value:</span>
                        <span class="star-ratings">
                            {% for x in range(5)%}
                                {% if x < rank[1].ratings.value %}
                            <img src="{{ url_for('static', filename='star-fill.svg') }}" class="star-full">
                                {% endif%}
                                {% if x >= rank[1].ratings.value %}
                            <img src="{{ url_for('static', filename='star-empty.svg') }}" class="star-empty">
                                {% endif %}
                            {%endfor%}
                        </span>
                    </p>
                    <a class="button-small" href="/restaurant/{{rank[1].restaurant.id}}">Zum Restaurant</a>

                </span>
                {% endfor %}
        </div>
        <div class="ranking ranking-food">
            <h2>Bestes Essen</h2>
            {% for rank in restaurant_ranking[0] %}
            <span class="rank-wrapper">
                <h4>{{rank[3]}}</h4>
                <p class="standard-paragraph">
                    Besuche: {{rank[2]}}
                </p>
                <p class="standard-paragraph">
                    ø Essen: {{rank[0]}}
                </p>
                <p class="standard-paragraph">
                    ø Wartezeit: {{rank[4]}} min
                </p>
                <a class="button-small" href="/restaurant/{{rank[1]}}">Zum Restaurant</a>
            </span>
            {% endfor %}
        </div>
        <div class="ranking ranking-value">
            <h2>Bester Value</h2>
            {% for rank in restaurant_ranking[1] %}
            <span class="rank-wrapper">
                <h4>{{rank[3]}}</h4>
                <p class="standard-paragraph">
                    Besuche: {{rank[2]}}
                </p>
                <p class="standard-paragraph">
                    ø Value: {{rank[0]}}
                </p>
                <p class="standard-paragraph">
                    ø Preis: {{rank[4]}} CHF
                </p>
                <a class="button-small" href="/restaurant/{{rank[1]}}">Zum Restaurant</a>
            </span>
            {% endfor %}
        </div>

    </div>

</div>

{% include "footer.jinja" %}
{% include "nav_script.jinja" %}
</body>
</html>