<nav class="grid-wrapper">
    <div class="grid-container navbar">
        <div class="nav-logo">
            <a class="nav-link" href="/"> <span class="nav-large-letter">R</span>estaurant<span class="nav-large-letter">S</span>nack<span class="nav-large-letter">T</span>racker</a>
        </div>
        <ul class="nav-content">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restaurants">Restaurants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/visits">Besuche</a>
            </li>
        </ul>
    </div>
</nav>