<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuer Besuch</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
{% include "navbar.jinja" %}
<div class="grid-wrapper">
    <div class="grid-container">
        {% if amount != 0 %}
        <h1>Neuen Restaurantbesuch hinzufügen</h1>
        {{restaurants.len}}
        <form class="full-width" action="/visit/new" method="POST">
            <div class="input-group">
                <label for="restaurant">Wähle das Restaurant:</label>
                <select name="restaurant" id="restaurant">
                    {% for restaurant in restaurants %}
                    <option value="{{restaurant.id}}">{{restaurant.name}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="input-group">
                <label for="date">Wann warst du da?</label>
                <input required type="date" name="date" id="date">
            </div>
            <div class="input-group">
                <label for="dish">Was hast du gegessen?</label>
                <input required type="text" name="dish" id="dish">
            </div>
            <div class="input-group">
                <label for="drink">Was hast du getrunken?</label>
                <input required type="text" name="drink" id="drink">
            </div>
            <div class="input-group">
                <label for="price">Was hat es gekostet ?</label>
                <span><input required type="number" name="price" id="price" min="0"> CHF</span>
            </div>
            <div class="input-group">
                <label for="wait">Wie lange musstest du warten?</label>
                <span><input required type="number" name="wait" id="wait" min="0" max="300"> min</span>
            </div>
            <div class="input-group">
                <label for="rating_food">Wie war das Essen?</label>
                <span><input required type="number" name="rating_food" id="rating_food" value="1" min="1" max="5"> (1-5)</span>
            </div>
            <div class="input-group">
                <label for="rating_service">Wie war der Service?</label>
                <span><input required type="number" name="rating_service" id="rating_service" value="1" min="1" max="5"> (1-5)</span>
            </div>
            <div class="input-group">
                <label for="rating_value">Wie ist das Preis-Leistungs-Verhältnis?</label>
                <span><input required type="number" name="rating_value" id="rating_value" value="1" min="1" max="5"> (1-5)</span>
            </div>
            <button class="button-small">Absenden</button>
        </form>
    {% endif %}
        <div class="full-width no-restaurants">
        {% if amount == 0 %}
            <h1>Es sind keine Restaurants in der Datenbank.</h1>
            <p class="standard-paragraph">Du kannst erst Besuche hinzufügen, sobald du mindestens ein Restaurant erstellt hast.</p>
        {% endif %}
        {% if amount != 0 %}
            <h2>Restaurant existiert noch nicht?</h2>
            <p class="standard-paragraph">Du kannst auch zuerst ein neues Restaurant erstellen.</p>
        {% endif %}
            <p><a href="/restaurant/new" class="button-small">Restaurant erstellen</a></p>
       </div>
    </div>

</div>
{% include "footer.jinja" %}
{% include "nav_script.jinja" %}
</body>
</html>